html {
	font-size: 62.5%;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 3rem;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: rgb(81, 141, 209);
	color: white;
}

.appContainer {
	display: flex;
	border-radius: 1rem;
	background-color: rgba(34, 33, 33, 0.822);
	padding: 2rem;
}

.finished {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 57rem;
	min-height: 17.5rem;
	text-align: center;
}

.btnRestart {
	margin-top: 2rem;
	margin-bottom: 0;
	text-align: center;
	padding: 0.9rem 1.5rem;
}

.quiz {
	min-height: 17.5rem;
	display: flex;
	justify-content: space-between;
}

.questionSection {
	width: 40rem;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	margin-right: 2rem;
}

.questionCount {
	margin-bottom: 2rem;
}

.questionCount span {
	font-size: 4rem;
	font-weight: 500;
}

.answerSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	width: 15rem;
}

button {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
	border: 0.2rem solid rgb(81, 141, 209);
	border-radius: 0.5rem;
	padding: 0.5rem;
	background-color: rgba(34, 33, 33, 0.822);
	color: white;
	text-align: left;
	padding-left: 1rem;
	cursor: pointer;
}
@media (hover: hover) {
	button:hover {
		background-color: rgb(81, 141, 209);
	}
}

.answerSection button.btn:last-child {
	margin-bottom: 0;
}

/* MEDIA QUERY */

@media screen and (max-width: 850px) {
	body {
		font-size: 2rem;
	}

	.finished {
		min-width: 47rem;
		min-height: 15rem;
	}

	.quiz {
		min-height: 15rem;
	}

	.questionSection {
		width: 30rem;
	}

	.questionCount span {
		font-size: 3rem;
	}
	button {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 700px) {
	body {
		font-size: 1.5rem;
	}

	.finished {
		min-width: 37rem;
		min-height: 13rem;
	}

	.questionSection {
		width: 20rem;
	}

	.questionCount {
		margin-bottom: 1rem;
	}

	.questionCount span {
		font-size: 2rem;
	}

	.quiz {
		min-height: 1rem;
	}

	button {
		font-size: 1rem;
		margin-bottom: 0.5rem;
	}

	.btnRestart {
		font-size: 1.4rem;
	}
}

@media screen and (max-width: 550px) {
	body {
		font-size: 1.5rem;
	}

	.finished {
		min-width: 25rem;
		min-height: 13rem;
	}

	.questionSection {
		width: 13rem;
	}

	.answerSection {
		width: 10rem;
	}

	.btnRestart {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 400px) {
	body {
		font-size: 1.2rem;
	}

	.finished {
		min-width: 23rem;
		min-height: 11rem;
	}

	.appContainer {
		padding: 1rem;
	}

	.questionSection {
		min-width: 15rem;
		margin-right: 0.7rem;
	}

	.answerSection {
		min-width: 8rem;
	}

	button {
		font-size: 1rem;
		padding: 0.2rem;
		padding-left: 0.5rem;
	}

	.btnRestart {
		padding: 0.7rem;
		margin-top: 1.5rem;
	}
}
