body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f3f3;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  height: 300px;
  width: 300px;
  background-color: white;
}

.inputField {
  padding: 10px 0 10px 10px;
  background-color: #f7efef;
  border: none;
}

.inputField:focus {
  outline: 1px solid green;
}

.btn {
  padding: 10px;
  background-color: #3cd13c;
  border: none;
  cursor: pointer;
}

.formContainer .success {
  padding: 10px;
  background-color: aqua;
}

span {
  font-size: 14px;
  color: red;
  margin-top: -10px;
}
